GITHUB_TOKEN=github_pat_123
GITHUB_REPO_OWNER=username
GITHUB_REPO_NAME=RepoName

GITHUB_API_BASE_URL=https://api.github.com
GITHUB_API_VERSION=2026-03-10
GITHUB_API_TIMEOUT=10.0
GITHUB_API_USER_AGENT=github-integration/0.1

CAMPAIGN_API_TIMEOUT=1.0
CAMPAIGN_API_USER_AGENT=github-integration/0.1
CAMPAIGN_API_KEY=yourkey

LOG_LEVEL=INFO
LOG_FILE_PATH=logs/github_integration.log